# Exercício biblioteca Pandas
  
  * Encontre e filtre as razões sociais que se repetem duas vezes;
  * Encontre quais delas possuem intervalos em menos de uma hora;

In [137]:
# import das bibliotecas

import pandas as pd

In [138]:
# importa o arquivo diretamente do site do governo

URL = 'https://dados.antt.gov.br/dataset/a8729428-f382-430c-abe5-6e5f85aa9a03/resource/7a387b56-0d45-4326-9056-adf9b070605a/download/horarios.csv'

# abre o arquivo .csv com o separador ';' e encoding 'latin' para conseguir ler os caracteres especiais
df = pd.read_csv(URL, sep=';', na_values=('na','NaN'), encoding='latin')

In [139]:
# exibe duas linhas da tabela

df.head(2)

,cnpj,razao_social,data_autorizacao,prefixo,descricao_linha,tipo_veiculo,sentido,horario,segunda_feira,terca_feira,...,marco,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro
0,34.805.903/0001-61,AMATUR AMAZÔNIA TURISMO LTDA.,20/07/2016,01-0002-00,MANAUS(AM) - BOA VISTA(RR),CONVEN. C/ SANITÁRIO,ida,18:30,x,NaN,...,x,x,x,x,x,x,x,x,x,x
1,34.805.903/0001-61,AMATUR AMAZÔNIA TURISMO LTDA.,20/07/2016,01-0002-00,MANAUS(AM) - BOA VISTA(RR),CONVEN. C/ SANITÁRIO,volta,19:00,x,x,...,x,x,x,x,x,x,x,x,x,x

In [140]:
# mostra quais colunas possuem dados faltantes

df.isna().any()

cnpj                 True
razao_social        False
data_autorizacao     True
prefixo             False
descricao_linha     False
tipo_veiculo        False
sentido             False
horario             False
segunda_feira        True
terca_feira          True
quarta_feira         True
quinta_feira         True
sexta_feira          True
sabado               True
domingo              True
janeiro              True
fevereiro            True
marco                True
abril                True
maio                 True
junho                True
julho                True
agosto               True
setembro             True
outubro              True
novembro             True
dezembro             True
dtype: bool

razao_social e horario estão completos. a análise pode prosseguir

## Razão Social

In [141]:
# conver a coluna horário para datetime

df['time'] =pd.to_datetime(df['horario'])

df.head(2)

,cnpj,razao_social,data_autorizacao,prefixo,descricao_linha,tipo_veiculo,sentido,horario,segunda_feira,terca_feira,...,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro,time
0,34.805.903/0001-61,AMATUR AMAZÔNIA TURISMO LTDA.,20/07/2016,01-0002-00,MANAUS(AM) - BOA VISTA(RR),CONVEN. C/ SANITÁRIO,ida,18:30,x,NaN,...,x,x,x,x,x,x,x,x,x,2023-02-03 18:30:00
1,34.805.903/0001-61,AMATUR AMAZÔNIA TURISMO LTDA.,20/07/2016,01-0002-00,MANAUS(AM) - BOA VISTA(RR),CONVEN. C/ SANITÁRIO,volta,19:00,x,x,...,x,x,x,x,x,x,x,x,x,2023-02-03 19:00:00

In [142]:
# imprime os tipo de variável de razão social

print(df['razao_social'].dtypes)

object

In [143]:
df['razao_social'].value_counts()==2

CONSÓRCIO GUANABARA DE TRANSPORTES                  False
OSVALDO MENDES & CIA LTDA. - EMPRESA DOIS IRMÃOS    False
EMPRESA GONTIJO DE TRANSPORTES S/A                  False
AUTO VIAÇÃO CATARINENSE LTDA.                       False
VIAÇÃO ÁGUIA BRANCA S/A                             False
                                                    ...
EMPRESA CRUCENA S.R.L.                               True
EMPRESA BRASIL TRANSPORTE E TURISMO LTDA.            True
VIACAO JLS LTDA                                      True
VIAÇÃO PARANAIBA LTDA.                              False
TRANSPEN TRANSPORTE COLETIVO E ENCOMENDAS LTDA.     False
Name: razao_social, Length: 229, dtype: bool

In [159]:
# os nomes que aparecem 2 vezes retornam True
df_2_aux = df['razao_social'].value_counts() == 2

# captura os valores que retornam apenas True e typecastin para lista e organiza em ordem alfabética
lista_2_vezes = df_2_aux[df_2_aux].index.sort_values()

print('Empresas que aparecem apenas duas vezes: \n')
for nome in lista_2_vezes:
     print(nome)

21
Empresas que aparecem apenas duas vezes:

CATTANI SUL TRANSPORTES E TURISMO LTDA
DANISTUR TRANSPORTE RODOVIARIO LTDA
EMPRESA BRASIL TRANSPORTE E TURISMO LTDA.
EMPRESA CRUCENA S.R.L.
EMPRESA DE TRANSPORTE LA PREFERIDA S/A
EMPRESA PRINCESA DO IVAÍ LTDA.
EXPRESOS SOL Y MAR C.A.
EXPRESSO METRÓPOLIS TRANSPORTES E VIAGENS LTDA.
EXPRESSO SANTA MARTA LTDA.
IRMÃOS NASCIMENTO TURISMO LTDA.
IVAIR CAETANO DO NASCIMENTO ? ME
JJ TURISMO E TRANSPORTE RODOVIARIO COLETIVO DE PASSAGEIROS LTDA
JS SERVIÇOS LOGISTICOS LTDA
KAWAGUCHI EVENTOS TRANSPORTE E TURISMO LTDA. (CATEDRAL TURISMO)
ROTA DO SOL TRANSPORTE E TURISMO LTDA
TPC TRANSPORTES LTDA - ME
TRANSPORTES E TURISMO ESTRELA DE RONDONIA
VIACAO JLS LTDA
VIACAO SAO GERALDO SACRAMENTO LTDA
VIAÇÃO MINEIROS TRANSPORTE E TURISMO LTDA
VIAÇÃO TERESÓPOLIS E TURISMO LTDA.

In [168]:
# df com as empresas que aparecem apenas 2 vezes

df_2_vezes = df[df['razao_social'].isin(lista_2_vezes)].drop('data_autorizacao',axis=1)
df_2_vezes.head(5)

,cnpj,razao_social,prefixo,descricao_linha,tipo_veiculo,sentido,horario,segunda_feira,terca_feira,quarta_feira,...,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro,time
1063,77.472.371/0001-09,CATTANI SUL TRANSPORTES E TURISMO LTDA,09-0353-00,PATO BRANCO(PR) - SAO LOURENCO DO OESTE(SC),CONVEN. C/ SANITÁRIO,ida,08:20,x,x,x,...,x,x,x,x,x,x,x,x,x,2023-02-03 08:20:00
1064,77.472.371/0001-09,CATTANI SUL TRANSPORTES E TURISMO LTDA,09-0353-00,PATO BRANCO(PR) - SAO LOURENCO DO OESTE(SC),CONVEN. C/ SANITÁRIO,volta,19:00,x,x,x,...,x,x,x,x,x,x,x,x,x,2023-02-03 19:00:00
2478,04.801.028/0001-89,DANISTUR TRANSPORTE RODOVIARIO LTDA,12-0489-60,GOIANIA(GO) - XINGUARA(PA),EXECUTIVO,ida,14:00,x,x,x,...,x,x,x,x,x,x,x,x,x,2023-02-03 14:00:00
2479,04.801.028/0001-89,DANISTUR TRANSPORTE RODOVIARIO LTDA,12-0489-60,GOIANIA(GO) - XINGUARA(PA),EXECUTIVO,volta,09:30,x,x,x,...,x,x,x,x,x,x,x,x,x,2023-02-03 09:30:00
2652,28.812.022/0001-75,EMPRESA BRASIL TRANSPORTE E TURISMO LTDA.,07-0011-20,NOVA FRIBURGO(RJ) - ALEM PARAIBA(MG),CONVEN. S/ SANITÁRIO,ida,08:45,NaN,x,NaN,...,x,x,x,x,x,x,x,x,x,2023-02-03 08:45:00

## Intervalo em menos de uma hora

In [164]:
df[['razao_social','horario']].head(5)

                    razao_social horario
0  AMATUR AMAZÔNIA TURISMO LTDA.   18:30
1  AMATUR AMAZÔNIA TURISMO LTDA.   19:00
2  AMATUR AMAZÔNIA TURISMO LTDA.   18:30
3  AMATUR AMAZÔNIA TURISMO LTDA.   20:00
4  AMATUR AMAZÔNIA TURISMO LTDA.   19:00

In [147]:
print(df['horario'].dtype)

object

Os objetos da coluna horário devem ser convertidos para 'datetime'

In [170]:
#tabela dinâmica para relacionar horário e a razao_social
# aggfunc seleciona as horas máximas e mínimas

hora_max = pd.pivot_table(df_2_vezes,index='razao_social',values=['time'],aggfunc='max')
hora_min = pd.pivot_table(df_2_vezes,index='razao_social',values=['time'],aggfunc='min')

In [172]:
hora_max.head(5)

                                                         time
razao_social
CATTANI SUL TRANSPORTES E TURISMO LTDA    2023-02-03 19:00:00
DANISTUR TRANSPORTE RODOVIARIO LTDA       2023-02-03 14:00:00
EMPRESA BRASIL TRANSPORTE E TURISMO LTDA. 2023-02-03 12:00:00
EMPRESA CRUCENA S.R.L.                    2023-02-03 12:30:00
EMPRESA DE TRANSPORTE LA PREFERIDA S/A    2023-02-03 19:30:00

In [171]:
hora_min.head(5)

                                                         time
razao_social
CATTANI SUL TRANSPORTES E TURISMO LTDA    2023-02-03 08:20:00
DANISTUR TRANSPORTE RODOVIARIO LTDA       2023-02-03 09:30:00
EMPRESA BRASIL TRANSPORTE E TURISMO LTDA. 2023-02-03 08:45:00
EMPRESA CRUCENA S.R.L.                    2023-02-03 06:00:00
EMPRESA DE TRANSPORTE LA PREFERIDA S/A    2023-02-03 15:00:00

In [184]:
# calcula o intervalo de tempo entre as séries

intervalo_hora = hora_min.sub(hora_max)

In [185]:
print(intervalo_hora.to_string())

                                                                             time
razao_social
CATTANI SUL TRANSPORTES E TURISMO LTDA                          -1 days +13:20:00
DANISTUR TRANSPORTE RODOVIARIO LTDA                             -1 days +19:30:00
EMPRESA BRASIL TRANSPORTE E TURISMO LTDA.                       -1 days +20:45:00
EMPRESA CRUCENA S.R.L.                                          -1 days +17:30:00
EMPRESA DE TRANSPORTE LA PREFERIDA S/A                          -1 days +19:30:00
EMPRESA PRINCESA DO IVAÍ LTDA.                                  -1 days +22:25:00
EXPRESOS SOL Y MAR C.A.                                         -1 days +18:20:00
EXPRESSO METRÓPOLIS TRANSPORTES E VIAGENS LTDA.                 -1 days +13:45:00
EXPRESSO SANTA MARTA LTDA.                                      -1 days +19:00:00
IRMÃOS NASCIMENTO TURISMO LTDA.                                   0 days 00:00:00
IVAIR CAETANO DO NASCIMENTO ? ME                                -1 days +23:00:00
JJ TURISMO E TRANSPORTE RODOVIARIO COLETIVO DE PASSAGEIROS LTDA -1 days +23:00:00
JS SERVIÇOS LOGISTICOS LTDA                                       0 days 00:00:00
KAWAGUCHI EVENTOS TRANSPORTE E TURISMO LTDA. (CATEDRAL TURISMO) -1 days +18:00:00
ROTA DO SOL TRANSPORTE E TURISMO LTDA                             0 days 00:00:00
TPC TRANSPORTES LTDA - ME                                       -1 days +23:30:00
TRANSPORTES E TURISMO ESTRELA DE RONDONIA                       -1 days +19:30:00
VIACAO JLS LTDA                                                   0 days 00:00:00
VIACAO SAO GERALDO SACRAMENTO LTDA                              -1 days +11:25:00
VIAÇÃO MINEIROS TRANSPORTE E TURISMO LTDA                       -1 days +18:50:00
VIAÇÃO TERESÓPOLIS E TURISMO LTDA.                              -1 days +14:00:00